@import "tailwindcss";


body {
  background-color: #000;
  color: #fff;
}

/* Hide horizontal scrollbar for all movie rows */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;    

}
